NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=<YOUR_WALLETCONNECT_PROJECT_ID>
NEXT_PUBLIC_REOWN_PROJECT_ID=<YOUR_REOWN_PROJECT_ID>
NEXT_PUBLIC_MORALIS_API_KEY=<YOUR_MORALIS_API_KEY>
NEXT_PUBLIC_CMC_API_KEY=<YOUR_CMC_API_KEY>
NEXT_PUBLIC_ONE_INCH_AUTH_KEY=<YOUR_ONE_INCH_AUTH_KEY>